.centered {
  text-align: center;
}

.margin {
  margin: 1.6rem;
}

.margin-top {
  margin-top: 1.6rem;
}

.margin-bottom {
  margin-bottom: 1.6rem;
}

.margin-right {
  margin-right: 1.6rem;
}

.margin-left {
  margin-left: 1.6rem;
}

.pad {
  padding: 1.6rem;
}

.pad-top {
  padding-top: 1.6rem;
}

.pad-bottom {
  padding-bottom: 1.6rem;
}

.pad-right {
  padding-right: 1.6rem;
}

.pad-left {
  padding-left: 1.6rem;
}
