@import "../../../style/variables";

#loginForm {
  max-width: 64rem;
  margin: 6.4rem auto;
}

@media all and (max-width: $screen-small-max) {
  #loginForm {
    margin-left: .8rem;
    margin-right: .8rem;
  }
}
