<form id="loginForm"
      (ngSubmit)="loginForm.form.valid && onSubmit()"
      #loginForm="ngForm">
  <mat-card>
    <mat-card-title>
      <div translate>Вход в систему</div>
    </mat-card-title>

    <mat-card-content>
      <div class="input-block">
        <mat-input-container>
          <input matInput
                 type="email"
                 autofocus
                 [(ngModel)]="email"
                 email="true"
                 required
                 name="email"
                 [placeholder]="'Email' | translate"/>
        </mat-input-container>
      </div>
      <div class="input-block">
        <mat-input-container>
          <input matInput
                 [(ngModel)]="password"
                 type="password"
                 required
                 name="password"
                 [placeholder]="'Пароль' | translate">
        </mat-input-container>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button
              [disabled]="!loginForm.form.valid"
              color="primary"
              type="submit">
        <span translate>Войти</span>
      </button>
      <a routerLink="/auth/signup" mat-button>
        <span translate>Зарегистрироваться</span>
      </a>
    </mat-card-actions>
  </mat-card>
</form>
