<form id="loginForm"
      (ngSubmit)="signupForm.form.valid && onSubmit()"
      #signupForm="ngForm">
  <mat-card>
    <mat-card-title translate>Регистрация пользователя</mat-card-title>
    <mat-card-content>
      <div class="input-block">
        <mat-input-container>
          <input matInput
                 type="email"
                 [(ngModel)]="user.email"
                 email="true"
                 required
                 name="email"
                 [placeholder]="'Email' | translate"/>
        </mat-input-container>
      </div>
      <div class="input-block">
        <mat-input-container>
          <input matInput
                 type="email"
                 [(ngModel)]="user.firstName"
                 required
                 name="firstName"
                 [placeholder]="'Имя' | translate"/>
        </mat-input-container>
      </div>
      <div class="input-block">
        <mat-input-container>
          <input matInput
                 type="email"
                 [(ngModel)]="user.lastName"
                 required
                 name="lastName"
                 [placeholder]="'Фамилия' | translate"/>
        </mat-input-container>
      </div>
      <div class="input-block">
        <mat-input-container>
          <input matInput
                 [(ngModel)]="user.password"
                 type="password"
                 required
                 name="password"
                 [placeholder]="'Пароль' | translate">
        </mat-input-container>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button
              [disabled]="!signupForm.form.valid"
              color="primary"
              type="submit">
        <span translate>Зарегистрироваться</span>
      </button>
      <a routerLink="/auth/login" mat-button>
        <span translate>Войти</span>
      </a>
    </mat-card-actions>
  </mat-card>
</form>
